PORT=5000
MONGODB_URI="your_mongodb_connection_string"
JWT_SECRET="your_jwt_secret_key"
IMGBB_API_KEY="your_imgbb_api_key"
ADMIN_EMAIL="actuallyayon@gmail.com"
ADMIN_DEFAULT_PASSWORD="your_admin_password"
